# Hub, an GitHub extension of the `git` command
if (( $+commands[hub] )); then
  alias g=hub
else
	alias g=git
fi

# Autojump!
alias j=z

# Shortcut for sublime text 3
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
